<!DOCTYPE html>
<html>
  <head>
    <title>Driver info</title>
  </head>
  <body>
  <h1>Driver info</h1>
    <form action={% url 'user:add_driver' %} method="post">
    {% csrf_token %}
        First name: <input type="text" name="first" required><br/>
        Last name: <input type="text" name="last" required><br/>
        License plate number: <input type="text" name="License" required><br/>
        Vehicle type:
        <select name="Type">
            <option value="Comfort">Comfort</option>
            <option value="Luxury">Luxury</option>
            <option value="Sports">Sports</option>
            <option value="SUV">SUV</option>
        </select><br>
        Maximum number of passengers: <input type="number"  name="Volume" min="1" required><br/>
        Special vehical info: <input type="text" name="Info"><br/>
        <input type="submit" value="Submit">
    </form>
    </br>
    <a href={% url 'ride:home'%}>Cancel</a>
  </body>
</html>
