<!DOCTYPE html>
<html>
  <head>
    <title>Edit Info</title>
  </head>
  <body>
    <h1>Edit user info</h1>
      <form action={% url 'user:change_info' %} method="post">
        {% csrf_token %}
        <h3>User info</h3>
        Username: {{user.username}}</br>
        Email: {{user_form.email}}</br></br>
        {% if user.driver%}
          <h3>Driver info</h3>
          First name: {{driver_form.first_name}}</br>
          Last name: {{driver_form.last_name}}</br>
          License plate number: {{driver_form.license}}</br>
          License plate number: {{driver_form.license}}</br>
          Vehicle type: {{driver_form.vehicle_type}}</br>
          License plate number: {{driver_form.license}}</br>
          Maximum number of passengers: <input type="number"  name="Volume" value="{{user.driver.max_volume}}" min="1" required><br/>
          Special info: {{driver_form.special_info}}</br></br>
          <input type="checkbox" name="driver_del"> Check this box if you do not want to be a driver anymore.</br>
        {% endif %}
        <input type="submit" value="Submit">
      </form>
    </br><a href="{% url 'ride:home'%}"> cancel </a>
  </body>
</html>
