<!DOCTYPE html>
<html>
  <head>
    <title>Log In</title>
  </head>
  <body>
  <h1>Log In</h1>
    {% if create_succ %}
        <p> Create Successfully! Please log in.</p>
    {% endif %}
    {% if form.errors %}
        <p> Wrong username or Wrong password. Please try again.</p>
    {% endif %}
    {% if user.is_authenticated %}
        <p> Already logged in!</p>
        <a href="{% url 'user:welcome'%}"> Go to menu </a>
    {% else %}
        <form method="post" action="{%url 'user:login' %}">
        {% csrf_token %}
            Username: {{ form.username }}<br/>
            Password: {{ form.password }}<br/>
            <input type="submit" value="Login">
        </form>
        <a href={% url 'user:create_account'%}>Create a new account?</a>
     {% endif %}
  </body>
</html>
