<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Driver Join</title>
</head>
<body>
    <h2>Ride Information</h2>
        <h3>Status:  {{ ride.status }}</h3>
        <fieldset>
            <legend>Ride Information:</legend>
                <p>Number of Passengers:  {{ ride.num_passengers }}</p>
                <p>Destination:  {{ ride.destination }}</p>
                <p>Arrival Time:  {{ ride.arrival_time }}</p>
                <p>Requested Vehicle Type:  {{ ride.vehicle_type }}</p>
                <p>Special Request:  {{ ride.special_request }}</p>
        </fieldset>
        <fieldset>
            <legend>Sharer Information:</legend>
            <p>Number of Sharers:  {{sharer_num}}</p>
        </fieldset>
        <a href="{% url 'ride:driver_join' ride_id %}">Join this Ride!</a><br>
        <a href="{% url 'ride:home' %}">back</a></br>
</body>
</html>
