<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Ride As A Owner</title>
</head>
<body>
    <form action="/ride/owner_update/{{ ride.id }}" method="post">
        {% csrf_token %}
        <p>Status<input type="text" value="{{ ride.status }}"></p>
        <fieldset>
            <legend>Owner Information:</legend>
            <p>Owner<input type="text" value="{{ ride.owner }}" disabled="disabled"></p>
            <p>Number of Owners<input type="number" min="1" value="{{ ride.num_owners }}"></p>
            <p>Destination<input type="text" value="{{ ride.destination }}"></p>
            <p>Arrival Time<input type="datetime-local" value="{{ ride.arrival_time }}"></p>
            <p>Vehicle Type<input type="text" value="{{ ride.vehicle_type }}"> (choose in '-', 'Comfort', 'Luxury', 'Sports' and 'SUV')</p>
            <p>Special Request<input type="text" value="{{ ride.special_request }}"></p>
            <p>Allow Share?<input type="checkbox" value="{{ ride.allow_share }}"></p>
            <p>Number of Passengers<input type="number" value="{{ ride.num_passengers }}"></p>
        </fieldset>
        {% if confirm %}
        <fieldset>
            <legend>Driver Information:</legend>
            <p>Driver<input type="text" value="{{ ride.driver }}" disabled="disabled"></p>
            <p>License<input type="text" value="{{ ride.license }}" disabled="disabled"></p>
            <p>Max Volume<input type="number" min="1" value="{{ ride.max_volume }}" disabled="disabled"></p>
        </fieldset>
        {% endif %}
        <p><input type="submit" value="update"></p>
    </form>
    <a href="{% url 'ride:home' %}">back</a>

</body>
</html>