<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Ride As A Owner</title>
</head>
<body>
    <h2>Edit Your Ride Information</h2>
    <form action="{% url 'ride:owner_edit' ride.id %}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Owner Information:</legend>
                <p>Number of People in Your Party: <input type="number" min="1" name="num_owner" value="{{ ride.num_owners }}"></p>
                <p>Destination: {{ owner_form.destination }}</p>
                <p>Arrival Time: <input type="datetime-local" name="arrival_time" value="{{ time }}" min=0000-01-01T00:00 max=9999-12-31T23:59 required></p>
                <p>Requested Vehicle Type: {{ owner_form.vehicle_type }}</p>
                <p>Special Request:  {{ owner_form.special_request }}</p>
                {% if not_shared %}
                    <p>Allow Share?  {{ owner_form.allow_share }}
                {% else %}
                    <p>Can not disallow sharing since we already have sharers. </p> 
                {% endif %}
        </fieldset>
        <h3><input type="checkbox" name="cancel"> Check this box if you want to cancel the ride.</h3></br>
        <input type="submit" value="update"></br>
        <a href="{% url 'ride:home' %}">back</a></p>
    </form>
</body>
</html>
