<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Ride</title>
</head>
<body>
    <h3>Search Ride</h3>
    <form action={% url 'ride:search_as_sharer' %} method="post">
        {% csrf_token %}
        Destination: <input type="text" name="destination" required><br>
        Acceptable Arrival Time: between <input type="datetime-local" name="early_time"> and <input type="datetime-local" name="late_time"><br>
        Number of Sharers in your party: <input type="number" name="num_sharers" required><br>
        <input type="submit" value="Search Ride">
    </form><br>

    <h3>Search Results</h3>
    <table border="1">
        <tr>
            <th>owner</th>
            <th>num_owners</th>
            <th>destination</th>
            <th>arrival_time</th>
            <th>vehicle_type</th>
            <th>operation</th>
        </tr>
        {% for ride in search_results %}
            <tr>
                <td>{{ ride.owner }}</td>
                <td>{{ ride.num_owners }}</td>
                <td>{{ ride.destination }}</td>
                <td>{{ ride.arrival_time }}</td>
                <td>{{ ride.vehicle_type }}</td>
                <td>
                    <a href="ride/ride_manage.html">Join the Ride</a>
                </td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>